
.first {
    text-align:center;
    font-size: xxx-large;
}
.ask {
    text-align:left;
    margin-left: 8px;
    
}
.about {
    text-align:left;
    margin-left:8px;
    
}
.something {
    text-align:center;
    margin-left:8px;
}

a {
    text-decoration: none;
}
a:link {
    color: chocolate;
}
a:visited {
    color: darkgoldenrod;
}
a:hover {
    color: darkorange;
}
a:active {
    color: goldenrod;
}
.basic {
    margin-left:8px;
}
.detaile {
    margin-left:8px;
}